<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>HIS | Login</title>
    <link rel="icon" type="image/x-icon" th:href="@{/kero/assets/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/kero/assets/css/base.min.css}">
</head>
<body>
<div class="app-container app-theme-gray body-tabs-shadow">
    <div class="app-container">
        <div class="h-100 bg-plum-plate bg-animation">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="mx-auto app-login-box col-md-6">
                    <div class="app-logo-inverse mx-auto mb-3"></div>
                    <div class="modal-dialog w-100 mx-auto">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="h5 modal-title text-center">
                                    <h4 class="mt-2">
                                        <div>Bem-vindo ao HIS</div>
                                        <span>Autenticação centralizada com Keycloak</span>
                                    </h4>
                                </div>
                                <div class="text-center mt-4">
                                    <a th:href="@{/oauth2/authorization/keycloak}" class="btn btn-primary btn-lg btn-block">
                                        Entrar com Keycloak
                                    </a>
                                </div>
                                <div class="text-center mt-3">
                                    <a th:href="@{/ui/home}" class="btn btn-link">Voltar para home pública</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center text-white opacity-8 mt-3">HIS - Hospital Information System</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/kero/assets/js/scripts-init/app.js}"></script>
</body>
</html>
